.hero {
  padding-inline: 8%;

  margin-bottom: 7rem;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2rem;
  padding-block: 5rem;
}

.heroText {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 2rem;
}

.heroText h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
}

.heroText p {
  font-size: 1.3rem;
  color: var(--grayishViolet-c);
  line-height: 1.6;
}
.heroText .heroButton {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 20px;
  font-weight: 700;
  background-color: var(--cyan-c) !important ;
  color: white;
}

.heroImg {
  width: 700px;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .heroImg {
    width: 500px;
    height: auto;
  }
}

@media screen and (max-width: 1000px) {
  .heroImg {
    width: 500px;
    height: auto;
  }
  .hero {
    flex-direction: column-reverse;
  }
  .heroText {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .heroImg {
    width: 300px;
    height: auto;
  }

  .heroText h1 {
    font-size: 3rem;
  }
  .heroText p {
    font-size: 1.2rem;
  }
}
